.sidebar {
  padding: 20px;
  width: 15%;
}

.sidebar h2 {
  color: #787486;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.main-wrapper {
  margin-top: 50px;
  cursor: pointer;
}

.project-list {
  color: #787486;
}

.project-list .s-list,
.menu-wrapper div {
  display: flex;
  align-items: center;
  font-family: Inter;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  padding: 10px 15px;
  cursor: pointer;
}

.selected {
  color: #1442AE !important;
  border-radius: 6px;
  background: rgba(80, 48, 229, 0.08);
  text-shadow: 0.5px 0.5px #198754;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
  cursor: pointer;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.sidebar li:hover {
  background-color: #f9f9f9;
}

.menu-wrapper {
  display: flex;
  align-items: center;
  padding: 8px 10px;
  color: #787486;
}

.menu-wrapper:hover, .s-list:hover {
  color: #198754;
  text-shadow: 0.5px 0.5px #1442AE;
}

.menu-wrapper:not(:last-child) {
  margin-bottom: 10px;
}

.line {
  width: 100%;
  height: 1px;
  margin: 20px 0;
  background-color: #DBDBDB;
}

.widget-main {
  position: relative;
}

.bulb-wrap {
  display: flex;
  justify-content: center;
  position: absolute;
  padding: 15px;
  top: -30px;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #F5F5F5;
  transform: translateX(-50%);
  height: 40px;
  width: 40px;
}

.bulb-wrap #bulb {
  height: 40px;
  filter: drop-shadow(0 0 0.99rem yellow);
}

.widget-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F5F5F5;
  padding: 40px 15px 15px 15px;
  border-radius: 16px;
}

.widget-wrapper> :not(:last-child) {
  margin-bottom: 15px;
}

.widget-h2 {
  color: #000;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.widget-description {
  color: #787486;
  text-align: center;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.widget-action {
  border-radius: 4px;
  background: #FFF;
  padding: 10px 20px;
  font-size: 12px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}

#logo {
  height: 30px;
  width: 35px;
}

.logo-container h3 {
  margin: 0;
  color: #0D062D;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 10px;
}

.add-project-btn {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.add-project-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 8px;
}

.link-r {
  text-decoration: none;
}
