.project-label {
  font-size: 35px;
  font-weight: 700;
  color: #0D062D;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.members {
  display: flex;
  text-align: right;
  max-width: 200px;
}

.members img {
  border-radius: 50%;
  position: relative;
  left: -5px;
  margin-left: -10px;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  height: 40px;
  width: 40px;
  border: 3px solid white;
}

.invite-member {
  display: flex;
  align-items: center;
  margin-right: 25px;
  position: relative;

}

.invite-member #btn {
  display: flex;
  color: #5030E5;
  font-size: 14px;
  font-style: normal;
  margin: 0;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  padding: 2px 4px;
}

.invite-member #btn img {
  margin-right: 5px;
}

.invite-member #btn p {
  margin: 0px;
}

.invite-member #btn:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 8px;
}

.select-wrapper {
  display: inline-flex;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #787486;
}

#filter-select {
  padding: 10px 15px;
  padding-left: 0;
  border-radius: 5px;
  outline: none;
  color: #787486;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.select-wrapper::before {
  content: url(/src/components/images/icons/filter.svg);
  height: 15px;
  width: 15px;
  display: block;
  margin: 0px 5px 0 10px;
  line-height: 0;
}

select {
  border: none;
  border-right: 10px solid transparent;
}

.edit-btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

.edit-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 8px;
  height: 30px;
  cursor: pointer;
}

.custom-select {
  position: absolute;
  z-index: 1111;
  top: 30px;
  right: 5px;
}

.option {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


.react-select__value-container {
  height: 3rem;
}
