.t-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  font-size: 16px;
  font-weight: bold;
  border-top: 2px solid #DBDBDB;
  border-bottom: 2px solid #DBDBDB;
}

.t-header #h-col {
  min-width: 200px;
}

.t-data {}

#r-data {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  cursor: pointer;
}

#r-data:not(:last-child){
  border-bottom: 1px solid #DBDBDB;
}

#r-data:nth-child(odd) {
  background-color: #f7f8f9;
}

#r-data:hover{
  border-radius: 3px;
  background-color: rgba(80, 48, 229, 0.08);
  text-shadow: 0.2px 0.2px #198754;
}

.t-data #data {}

#data {
  display: flex;
  align-items: center;
  min-width: 200px;
  font-size: 14px;
}

#data img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 5px;
}

.role {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #E6ECF0 !important;
}

.member-header {
  display: flex;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
}

.add-mem {
  line-height: 1.4;
  margin-left: 5px;
  cursor: pointer;
}

.eye-container {
  cursor: pointer;
}

.data {
  margin-top: 10px;
}
