body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Inter;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.app {
  font-family: Inter;
}

.task-title {
  color: #0D062D;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.task-description {
  color: #787486;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.list-h4 {
  color: #787486;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 10px 5px;
}

.main {
  display: flex;
}

.line-v {
  width: 1px;
  height: 100vh; /* Adjust the height as per your requirement */
  background-color: #DBDBDB;
}
